/* General Settings Begin */
*{
    margin: 0;
    padding: 0;
}
body{
    padding: 0;
    /* background-color: black; */
}
/* General Settings End */
/* Nav Bar Begins */
#logo{
    width: 2.4em;
    
}
#my-nav{
    padding: 0;
    margin: 0;
    background-color: #580248;
    /* background-color: black !important; */
}
/* Nav Bar Ends */
/* Header Begins */
.full-window{
    width: 100%;
    height: 75vh;
}
header{
    position: relative;
    z-index: 2;
}
header::before{
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-image: url("../images/header_bg_img.jpg"); 
    background-position: center; 
    background-size:cover; 
    opacity: 0.7;
    z-index: -1;
}
.btn:hover{
    background-color:#0d6efd !important;
}
/* Header Ends */
#middle
{
    height: 50%;
    width: 100%;
    background: black;
    clear:none;
}

.btn-secondary
{
    background: #580248;
    width: 30%;
    margin: 1.5%;
}

.btn-secondary:hover
{
    color: #580248;
    background: white;
    border: 2px solid #580248;
    
}

#v_r
{
    height: auto;
    float: right;
    clear: none;
    margin-top: 3%;
    margin-bottom: 3%;
    padding-right: 3%;
    text-align: center;
}

#img1
{
    width: 60%;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 6%;
    float: left;
}

#t-head
{
    width: 95%;
    height: 10%;
    clear: both;
    padding: 1%;
    border-top: 2px solid grey;
    border-bottom: 2px solid grey;
    margin-bottom: 5%;
    margin-left: 2.5%;
}

#team
{
    clear: both;
}

#gallery {

    border: 1px solid #ccc;
    margin-left: 8%;
    float: left;
    width: 22%;
    padding: 0px;
    padding: 0px;
  }
  
  #gallery:hover {
    border: 1px solid #777;
  }
  
  #gallery img {
    
    width: 100%;
    height: auto;
  }
  
  .desc {
    
    text-align: center;
  }


/* .my-nav{ */
    /* display: inline-block;;
    width: 20em;
    text-align: right; */
    /* margin-left: 20em; */
    /* position: relative; */
    /* right: 0; */
/* } */

@media(max-width: 576px){
    #header-text{
        width: 100% !important;
    }
}