/* General Settings Begin */
*{
    margin: 0;
    padding: 0;
}
body{
    padding: 0;
    font-family: Helvetica, sans-serif;
    /* background-color: black; */
}

section{
    overflow: hidden;
}
/* General Settings End */
/* Nav Bar Begins */
#logo{
    width: 2.4em;
    
}
#my-nav{
    padding: 0;
    margin: 0;
    background-color: #580248de;
    /* background-color: black !important; */
}
/* Nav Bar Ends */
/* Header Begins */
.full-window{
    width: 100%;
    height: 75vh;
}
header{
    position: relative;
    z-index: 2;
}
header::before{
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-image: url("../images/header_bg_img.jpg"); 
    background-position: center; 
    background-size:cover; 
    opacity: 0.7;
    z-index: -1;
}
.header-btn:hover{
    background-color:#0d6efd !important;
}
/* Header Ends */
#middle
{
    height: 50%;
    width: 100%;
    background: black;
    clear:none;
}

.btn-secondary
{
    background: #580248;
    width: 30%;
    margin: 1.5%;
}

.btn-secondary:hover
{
    color: #580248;
    background: white;
    border: 2px solid #580248;
    
}

#v_r
{
    height: auto;
    float: right;
    clear: none;
    margin-top: 3%;
    margin-bottom: 3%;
    padding-right: 3%;
    text-align: center;
}

#img1
{
    width: 60%;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 6%;
    float: left;
}

#t-head
{
    width: 95%;
    height: 10%;
    clear: both;
    padding: 1%;
    border-top: 2px solid grey;
    border-bottom: 2px solid grey;
    margin-bottom: 5%;
    margin-left: 2.5%;
}

#team
{
    clear: both;
}

#gallery {

    border: 1px solid #ccc;
    margin-left: 8%;
    float: left;
    width: 22%;
    padding: 0px;
    padding: 0px;
  }
  
  #gallery:hover {
    border: 1px solid #777;
  }
  
  #gallery img {
    
    width: 100%;
    height: auto;
  }
  
  .desc {
                       
    text-align: center;
  }

  /* Servicers sytle */
  #services h2
  {
      margin-top: 2%;
  }

  #service-text
  {
    float: left;
    margin-left: 22%;
    margin-right: 4%;
    width: 30%;
  }

  #ser-img1
  {
      margin-top: 1%;
      float: left;
      clear: none;
  }

  .row1
  {
      margin-top: 2%;
      margin-bottom: 2%;
  }

  

  #heads
  {
      width: 90%;
      text-align: center;
      background: #580248;
      margin-bottom: 11%;
  }

  .row1 ol li
  {
        font-size: 25px;
  }

  #heads2
  {
      width: 65%;
      background: #580248;
      margin-bottom: 11%;
      text-align: center;
  }

  #service-text2
  {
    float: left;
    margin-top: 6%; 
    width: 30%;
    margin-bottom: 6%;
  }

  #ser-img2
  {
      float: left;  
      margin-top: 6%;
      margin-left: 22%;
      margin-right: 8%;
  }

  /* end-Servicers sytle */

  /* Subscription Section Begins */
  #subscription{
      position:relative;
  }
  #sub-cards{
      position: relative;
      background-image: url("/images/service2.png");
      background-repeat: no-repeat;
      background-position:center;
      background-size:cover;
      flex-direction: row;
  }
  .sub-card{
      /* background-color: transparent; */
      opacity: 0.8;
  }
  .sub-card:before{
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: #fff;
    opacity: 0.7;
    z-index: -1;
  }
  .card-body{
      position: relative;
      background-color: transparent;
      /* opacity: 0.7; */
  }
  .sub-title{
      color: #580248;
  }
  .sub-title::after{
      content: '';
      position: absolute;
      top: 25%;
      left: -30%;
      width: 160%;
      background-color: #580248;
      height: 2px;
      
  }
  .sub-btn{
      background-color: #580248 !important;
      color: #fff !important;
  }
  .sub-btn:hover{
    background-color: #fff !important;
    color: #580248!important;
}
  /* Subscription Section Ends */

  /* Contact Section Start*/

.contact-icon{
    width: 6em;
    height: 6em;
}

#contact-btn{
    background-color: #580248;
    color: #fff;
}
#contact-btn:hover{
    background-color: #fff;
    color:  #580248;
    border: 1px solid #580248;
}
  /* Contact Section Ends */
  
  
 #sign-up{

    background-color:#580248;
    height:430px;
 }
 .s-upcontainter, h1{

    text-align:center;

    color:white;
    text-transform:uppercase;
    font-weight:bold;
    font-size:40px;
 }
 .form-control3{

    position:relative;
    right:-570px;
    width:320px;
    height:46px;
    border-radius:0;
 }
 #p-inp{

    position:relative;
    right:-178%;
    border-radius: 0;
    top:30px;
 }
 #pword{

    padding:0;
    margin:0;
    position:relative;
    bottom:-30px;
 }

 #pword::placeholder{

    position:relative;
    right:10px;
 }
 .form-control3::placeholder{

    font-size:20px;
    position:relative;
    right:-10px;
    top:-1px;
 } 
 #form-paragraph{

    text-transform: none;
    font-size:20px;
    position:relative;
    bottom:-60px;
    right:-560px;
 }
 .form-control3{
     font-size:20px;
 }
 #createacc{
    text-transform: none;
    font-size:20px;
    position:relative;
    bottom:-80px;
    text-decoration:underline;
    right:-560px;
   

 }
 #s-heading{

    padding-top:23px;
 }
 
 #sign-up{

    position:relative;
    bottom:-100px;
 }
.btn-class{

    border:white;
    font-size:20px;
    height:50px;
    width:90px;
    color:#580248;
    position:relative;
    right:-560px;
    bottom:-50px;
 }
 /* Article Section Start */
 #articles{
     margin-top: 10em;
 }
 .article-card .card-body{
     border-right: 0.001em solid #000;
     border-left: 0.001em solid #000;
     border-bottom: 0.001em solid #000;
     padding: none !important;
 }
 .article_img{
    width: 20em;
    height: 12em;
    /* opacity: 1;  */
 }
 .article_date_text{
    font-size: 0.7em !important; 
    font-weight: 600;
 }
 .article_small_icons{
     width: 1rem;
     display: inline-block !important;
 }
 /* Article Section End */
 #section1  {

    background-color:#580248;
    position:relative;
    top:150px;
    height:500px;
 }
 #img1{

    height:45px;
    width:45px;
    position:relative;
    left:-54px;
 }

 #img2{

    height:45px;
    width:45px;
    
 }
 #call-para{

    color:white;
    position:relative;
    bottom:-55px;
    left:-32px;
    font-size:20px;
 }
 #phone-para{

    color:white;
    position:relative;
    bottom:-55px;
    left:-38px;
    font-size:20px;
 }


/* .my-nav{ */
    /* display: inline-block;;
    width: 20em;
    text-align: right; */
    /* margin-left: 20em; */
    /* position: relative; */
    /* right: 0; */
/* } */

@media(max-width: 576px){
    #header-text{
        width: 100% !important;
    }
    #sub-cards{
        flex-direction: column;
    }
}